article
  h1 Start#[sup UP!] #{body['project-name']}

  table
    tr
      td(colspan='2')
        strong Project Details
    tr
      td name
      td=body.name
    tr
      td email
      td=body.email
    tr
      td budget
      td=body.budget
    tr
      td designs
      td=body.designs
    tr
      td open-source
      td=body['open-source']

  p=body.aim
