section
  h1 Start#[sup UP!] #{projectName}

  table
    tr
      td(colspan='2')
        strong Project Details
    tr
      td name
      td=name
    tr
      td email
      td=email
    tr
      td budget
      td=budget
    tr
      td designs
      td=designs
    tr
      td open-source
      td=openSource

  p=aim
